* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    padding: 0;
    /* background-color: black; */
}
h1, p, span {
    color: white;
 
}

hr {
    color: white;
    height: 20px;
    border-bottom: 4rem;
    font-weight: bold;
    width: 100px;
}
#mainNavigation a {
    /* font-family: 'Cabin', sans-serif; */
    font-size:14px;
    text-transform:uppercase;
    letter-spacing:2px;
    text-shadow:1px 1px 2px rgba(0,0,0,0.4)
  }
  
  .dropdown-menu {
    /* background:#03727d */
  }
  a.dropdown-toggle {
    color:#dfdfdf !important
  }
  a.dropdown-item:hover {
    /* color:#03727d !important */
  }
  .nav-item a{
    color:#dfdfdf;
  }
  .nav-item a:hover {
    color:#fff
  }
  .nav-item{
    min-width:12vw;
  }
  #mainNavigation {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:123;
    padding-bottom:120px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+100;Neutral+Density */
  background: -moz-linear-gradient(top,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
   /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
   /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%); 
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );  
   /* IE6-9 */

  }
  #navbarNavDropdown.collapsing .navbar-nav,
  #navbarNavDropdown.show .navbar-nav{
    /* background:#037582; */
    padding:12px;
  }


/* mobile  */
.hero-section {
    height: 100dvh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./images/restaurant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    position: relative;
    text-align: center;
    
}
.hero-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px

}
.tagline {
    font-weight: bold;
}

.scroll-container {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: .6rem;
    opacity: 0;
    /* background-color: red; */
}

.section-1 {
    /* margin: 1rem ; */
    height: 100dvh;
    padding: 10rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.section-1 p {
    color: black;
}
.section-1-wrapper {
    box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.249);
    /* height: 80%; */
    /* background-color: red; */
}

.section-1-wrapper .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section-2 {
    /* height: 60dvh; */
    /* margin: 2rem 0; */
}
.section-2 img {
    height: 100%;
    /* margin: 2rem 0; */
}
.section-2-wrapper{

}



.section-4 {
    margin-top: 20rem ;
    /* margin-bottom: 20rem ; */
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* background-color: rgb(190, 0, 0); */
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
    position: relative;
}
.section-4 h3 {
    color: white;
    margin-block: 1rem;
}

.wrapper{
    display: flex;

    max-width: 1200px;
    position: relative;
    
  }
  .wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
    z-index: 2;
    margin-inline: 1.5rem;

  }
  .wrapper i:active{
    transform: translateY(-50%) scale(0.9);
  }
  .wrapper i:hover{
    background: #f2f2f2;
  }
  .wrapper i:first-child{
    left: -22px;
    display: none;
  }
  .wrapper i:last-child{
    right: -22px;
  }
  .wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding-block: .3rem;
    /* background-color: red; */
  }

  .carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
  }
  .carousel.dragging img{
    pointer-events: none;
  }
  .carousel img{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
    outline: 2px white solid;
  }
  .carousel img:first-child{
    margin-left: 0px;
  }

  @media screen and (max-width: 900px) {
    .carousel img{
      width: calc(100% / 2);
    }
  }
  @media screen and (max-width: 550px) {
    .carousel img{
      width: 100%;
    }
  }
/* 

/////// tablet

 */

  @media  screen and (min-width: 700px){
    hr {

        width: 300px;
    }

  }


/* 

 ///////// pc 

 */
  @media  screen and (min-width: 1200px){

    .hero-text-container {
        font-size: large;
    
    }
    hr {

        width: 600px;
    }

    .section-1-wrapper {
        /* height: 0%; */
        padding: 10rem 0;
    }
    .section-1-wrapper img {
        height: 40rem;
    }

    .section-2 {
        height: 40dvh;
        padding: 10rem 0;
        /* margin: 2rem 0; */
    }
  }
